<%= form("/artigos/#{@post.route}", :put) %>

<ul>
  <li><%= label :post, :title %></li>
  <li><%= input :post, :title, value: @post.title %></li>
</ul>
<ul>
  <li><%= label :post, :writter %></li>
  <li><%= input :post, :writter, value: @post.writter %></li>
</ul>
<ul>
  <li><%= label :post, :source %></li>
  <li><%= input :post, :source, value: @post.source %></li>
</ul>
<ul>
  <li><%= label :post, :name_source %></li>
  <li><%= input :post, :name_source, value: @post.name_source %></li>
</ul>
<ul>
  <li><%= label :post, :body %></li>
  <li><textarea id="post_body" name="post[body]"><%= @post.body %></textarea></li>
</ul>

<%= submit %>
