<div class="row">
  <div class="col-lg-9">
    <% if Post.count > 0 %>
      <h2><%= @lastpost.title %></h2>
      <%= @lastpost.body %>
    <% end %>

    <h4><%= @lastpost.comments.count %> comentários</h4>

    <% @lastpost.comments.each do |comment| %>
      <ul>
        <li><%= comment.title %></li>
        <li><%= comment.body %></li>
      </ul>
    <% end %>

    <%= form('/comments', :create) %>

    <ul>
      <li><%= label :comment, :title %></li>
      <li><%= input :comment, :title %></li>

      <li><%= label :comment, :body %></li>
      <li><%= input :comment, :body %></li>
    </ul>

    <%= submit  %>

    <div style="visibility:hidden;"><%= input :comment, :post_id, value: @lastpost.id %></div>


  </div>

  <div class="col-lg-3">
    <h4>Últimas postagens:</h4>
    <% @posts.reverse.each do |post| %>

      <% if post.title != @lastpost.title %>
        <ul>
          <li><a href="/artigos/<%= post.title.gsub(' ', '_') %>"><%= post.title %></a></li>
        </ul>
      <% end %>

    <% end %>
  </div>
</div>
