<div class="row">
  <div class="col-lg-8">
    <% if Post.count > 0 %>
        <div class="text">
          <h2><%= @lastpost.title %></h2>
          <h5><i>Por <b><%= @lastpost.writter %></b> | Publicado em <%= @lastpost.created_at.strftime("%d/%m/%Y") %> |
          Versão original: <a href="<%= @lastpost.source %>"><%= @lastpost.name_source %></a></i></h5><br>
          <div class="body"><%= @lastpost.body %></div>
          <h5>*Traduzido por <b><%= @lastpost.user.name.capitalize %> Cesar</b></h5><br>

          <div class="col-sm-6">
            <% if next_post(@lastpost) != nil %>
              <h4 class="switch">Próximo: <a href="/artigos/<%= next_post(@lastpost).route %>"><%= next_post(@lastpost).title %></a></h4>
            <% end %>
          </div>
          <div class="col-sm-6">
            <% if previous_post(@lastpost) != nil %>
              <h4 class="switch">Anterior: <a href="/artigos/<%= previous_post(@lastpost).route %>"><%= previous_post(@lastpost).title %></a></h4>
            <% end %>
          </div>
        </div>

        <h4><%= formatted_count(@lastpost.comments.count) %></h4>

        <div id="comment_box">
          <% @lastpost.comments.each do |comment| %>
            <div id="each_comment">
              <h4 id="comment_title"><%= comment.author %></h4>
              <h5 id="comment_bodye"><%= comment.body %></h5>
              <h6>Postado em <%= comment.created_at.strftime("%d/%m/%Y") %></h6>
            </div>
          <% end %>
        </div>

        <% if @lastpost.comments.count > 0 %>
          <h4>Deixe seu comentário:</h4>
        <% end %>
        <small>*Campos obrigatórios. O email não será publicado.</small>
        <form action="/comments" method="post">

          <ul>
            <li><input id="comment_author" name="comment[author]" type="text" placeholder="Nome*"></li><br>
            <li><input id="comment_email" name="comment[email]" type="text" placeholder="Email*"></li><br>
            <li><textarea id="comment_body" name="comment[body]" placeholder="Insira seu texto..."></textarea></li>
          </ul>

          <input type="submit" value="Enviar">

          <div style="visibility:hidden;"><%= input :comment, :post_id, value: @lastpost.id %></div>

        </form>

      <% else %>
        <h2>Nenhum artigo publicado.</h2>
      <% end %>

  </div>

  <div class="col-lg-3 col-lg-offset-1">
    <h4 class="mission" align="center">Missão dos tradutores:
      Traduzir os escritos e transmitir o pensamento dos principais filósofos e pensadores contemporâneos do mundo.
    </h4>
    <% if @posts.size > 1 %>
      <h3 class="others">Últimas postagens:</h3>
      <% @posts.reverse.each do |post| %>

        <% if post.title != @lastpost.title %>
          <div class="snippet">
            <h4><a href="/artigos/<%= post.route %>"><%= post.title %></a></h4>
            <h5>Por <%= post.writter %> | <%= html_tags_out(post.body) %><a href="/artigos/<%= post.route %>"> Leia mais</a></h5>
          </div>
        <% end %>

      <% end %>
    <% end %>
  </div>
</div>
