<div class="row">
  <div class="col-lg-8">
    <% if Post.count > 0 %>
        <div class="text">
          <h2><%= @lastpost.title %></h2>
          <h5 class="title"><i>Criado por <b><%= @lastpost.user.name %></b> em <%= @lastpost.created_at.strftime("%d/%m/%Y") %></i></h5><br>
          <h4><%= @lastpost.body %></h4>
        </div>


        <h4><%= formatted_count(@lastpost.comments.count) %></h4>

        <% @lastpost.comments.each do |comment| %>
          <ul>
            <li><%= comment.author %></li>
            <li><%= comment.body %></li>
          </ul>
        <% end %>

        <%= form('/comments', :create) %>

        <ul>
          <li><%= label :comment, :author %></li>
          <li><%= input :comment, :author %></li>

          <li><%= label :comment, :body %></li>
          <li><%= input :comment, :body %></li>
        </ul>

        <%= submit  %>

        <div style="visibility:hidden;"><%= input :comment, :post_id, value: @lastpost.id %></div>
    <% end %>

  </div>

  <div class="col-lg-3 col-lg-offset-1">
    <h3 class="others">Últimas postagens:</h3>
    <% @posts.reverse.each do |post| %>

      <% if post.title != @lastpost.title %>
        <div class="snippet">
          <h4><a href="/artigos/<%= converter(post.title) %>"><%= post.title %></a></h4>
          <h5><%= post.body[0..200] + "..."%></h5>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
