<h2><b>Painel de Controle</b></h2>
<a href='/logout' style="font-size:15px;">Encerrar Sessão</a><br>
<h4 style="color:green;">Olá, <%= @user.name %>!</h4>
<h3>Criar Artigo</h3><br>

<form action="/posts" method="post">

  <ul>
    <li><%= label :post, :title %></li>
    <li><%= input :post, :title %></li>
  </ul>
  <ul>
    <li><%= label :post, :writter %></li>
    <li><%= input :post, :writter %></li>
  </ul>
  <ul>
    <li><%= label :post, :body %></li>
    <li><textarea id="post_body" name="post[body]"></textarea></li>
  </ul>
  <div style="visibility:hidden;"><%= input :post, :user_id, value: @user.id %></div>
  <input type="submit" value="Criar"><br><br>
</form>

<div class="row" style="border-top: dashed #d3d3d3 1.5px;">

  <div class="col-lg-5">
    <h3>Artigos (<%= Post.count %>)</h3><br>
    <% @posts.each do |post| %>

      <ul class="inline">
        <form class="input" action="/artigos/<%= post.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <li><%= post.title %></li>
          <li><a class="edit_delete" href="/artigos/<%= converter(post.title) %>/edit">Editar</a></li>
          <li><input type="submit" value="Excluir" onclick="return deletePost()"></li>
        </form>
      </ul>

    <% end %>
  </div>

  <div class="col-lg-4">
    <h3>Imagens (<%= images_folder_size %>)</h3><br>

    <% $images.each do |img| %>
      <ul class="inline">
        <form class="input" action="/images/<%= img %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <li><a href="/images/<%= img %>"><%= img %></a></li>
          <li><input type="submit" value="Excluir" onclick="return deletePost()"></li>
        </form>
      </ul>
    <% end %>

  </div>
  <div class="col-lg-3">
    <h4>Upload de Imagens</h4><br>
    <form action="/save_image" method="POST" enctype="multipart/form-data">
      <input type="file" name="file"><br>
      <input type="submit" value="Upload">
    </form>
  </div>
</div>
<% @control_panel_request.each do |request| %>
  <% if request == @previous_request %>
    <script>document.body.scrollTop = 10000;</script>
  <% end %>
<% end %>
