<%= form('/posts', :create) %>

<ul>
  <li><%= label :post, :title %></li>
  <li><%= input :post, :title %></li>
</ul>
<ul>
  <li><%= label :post, :body %></li>
  <li><textarea id="post_body" name="post[body]"></textarea></li>
</ul>

<%= submit %><br>

<ul>
  <% @posts.each do |post| %>

    <li><%= post.title %> <a href="/artigos/<%= converter(post.title) %>/edit">Edit</a> </li>

    <form action="/artigos/<%= post.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Article?">
    </form>

  <% end %>
</ul>
