<a href='/logout'>Log Out</a>

<form action="/posts" method="post">

  <ul>
    <li><%= label :post, :title %></li>
    <li><%= input :post, :title %></li>
  </ul>
  <ul>
    <li><%= label :post, :body %></li>
    <li><textarea id="post_body" name="post[body]"></textarea></li>
  </ul>
  <div style="visibility:hidden;"><%= input :post, :user_id, value: @user.id %></div>
  <input type="submit" value="Criar"><br><br><br>
</form>

  <% @posts.each do |post| %>

  <ul class="inline">
    <form class="input" action="/artigos/<%= post.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <li><%= post.title %></li>
      <li><a class="edit_delete" href="/artigos/<%= converter(post.title) %>/edit">Editar</a></li>
      <li><input type="submit" value="Deletar artigo" onclick="return deletePost()"></li>
    </form>
  </ul>

  <% end %>
