<%= form('/posts', :create) %>

<ul>
  <li><%= label :post, :title %></li>
  <li><%= input :post, :title %></li>
</ul>
<ul>
  <li><%= label :post, :body %></li>
  <li><textarea id="post_body" name="post[body]"></textarea></li>
</ul>

<%= submit %>
