<div class="row">
  <div class="col-lg-8">
    <div class="text">
      <h2><%= @post.title %></h2>
      <h5><i>Por <b><%= @post.writter %></b> | Publicado em <%= @post.created_at.strftime("%d/%m/%Y") %> |
      Versão original: <a href="<%= @post.source %>"><%= @post.name_source %></a></i></h5><br>
      <div class="body"><%= @post.body %></div>
      <h5>*Traduzido por <b><%= @post.user.name.capitalize %> Cesar</b></h5><br>

      <div class="col-sm-6">
        <% if next_post(@post) != nil %>
          <h4 class="switch">Próximo: <a href="/artigos/<%= next_post(@post).route %>"><%= next_post(@post).title %></a></h4>
        <% end %>
      </div>
      <div class="col-sm-6">
        <% if previous_post(@post) != nil %>
          <h4 class="switch">Anterior: <a href="/artigos/<%= previous_post(@post).route %>"><%= previous_post(@post).title %></a></h4>
        <% end %>
      </div>

    </div>

    <h4><%= formatted_count(@comments.count) %></h4>
    <div id="comment_box">
      <% @comments.each do |comment| %>
        <div id="each_comment">
          <h4 id="comment_title"><%= comment.author %></h4>
          <h5 id="comment_bodye"><%= comment.body %></h5>
          <h6>Postado em <%= comment.created_at.strftime("%d/%m/%Y") %></h6>
        </div>
      <% end %>
    </div>

    <% if @comments.count > 0 %>
      <h4>Deixe seu comentário:</h4>
    <% end %>

    <% if flash.has?(:error) %>
      <div id="error">
        <%= flash[:error] %>
      </div>
    <% end %>
    <small>*Campos obrigatórios. O email não será publicado.</small>
    <form action="/comments" method="post">

      <ul>
        <li><input id="comment_author" name="comment[author]" type="text" placeholder="Nome*"></li><br>
        <li><input id="comment_email" name="comment[email]" type="text" placeholder="Email*"></li><br>
        <li><textarea id="comment_body" name="comment[body]" placeholder="Insira seu texto..."></textarea></li>
      </ul>

      <input type="submit" value="Enviar">

      <div style="visibility:hidden;"><%= input :comment, :post_id, value: @post.id %></div>

      </form>
    <% if @previous_request == @post_comment_request %>
      <script>document.body.scrollTop = 10000;</script>
    <% end %>
  </div>

  <%= erb :column, :layout => false %>
</div>
