<div class="row">
  <div class="col-lg-9">

    <h2><%= @post.title %></h2>
    <i>Criado por Luciano em <%= @post.created_at.strftime("%d/%m/%Y") %></i>
    <p><%= @post.body %></p>

    <h4><%= @comments.count %> comentários</h4>

    <% @comments.each do |comment| %>
      <ul>
        <li><%= comment.title %></li>
        <li><%= comment.body %></li>
      </ul>
    <% end %>

    <%= form('/comments', :create) %>

    <ul>
      <li><%= label :comment, :title %></li>
      <li><%= input :comment, :title %></li>

      <li><%= label :comment, :body %></li>
      <li><%= input :comment, :body %></li>
    </ul>

    <%= submit  %>

    <div style="visibility:hidden;"><%= input :comment, :post_id, value: @post.id %></div>
  </div>

  <div class="col-lg-3">
    <h4>Outras postagens:</h4>
    <% @posts.reverse.each do |post| %>

      <ul>
        <li><a href="/artigos/<%= post.title.gsub(' ', '_') %>"><%= post.title if post != @post %></a></li>
      </ul>

    <% end %>
  </div>
</div>
